<h3>Employee Names:</h3>
<ul>
  {% for name in employee_names %}
    <li>{{ name }}</li>
  {% endfor %}
</ul>
<h3>Employee Salary:</h3>
<ul>
  {% for salary in employee_salary %}
    <li>{{ salary }}</li>
  {% endfor %}
</ul>